html {
  font-size: 16px;
}

p,
h1 {
  margin: 0;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(227deg, 10%, 46%);
  text-align: center;
  background-color: hsl(185deg, 75%, 39%);
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top -600px left -750px, bottom -600px right -750px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  margin: 24px;
}
main picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
main picture #profile-picture {
  width: 96px;
  height: 96px;
  border-radius: 100%;
  border: 6px solid white;
  -webkit-transform: translateY(-48px);
          transform: translateY(-48px);
}
main picture:nth-child(2) {
  height: 60px;
}
main section {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
main section h1 {
  font-size: 20px;
  color: hsl(229deg, 23%, 23%);
}
main section h1 span {
  color: hsl(227deg, 10%, 46%);
  font-weight: 400;
}
main section hr {
  margin: 16px 0;
  z-index: 2;
  border-color: hsl(0deg, 0%, 59%);
  opacity: 15%;
}
main section .stats-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 48px 32px 48px;
}
main section .stats-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
main section .stats-container .stats p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  color: hsl(229deg, 23%, 23%);
}
main section .stats-container .stats p:nth-child(2) {
  color: hsl(0deg, 0%, 59%);
  font-size: 13px;
  letter-spacing: 1px;
}

@media (min-width: 768px) {
  body {
    background-position: top -600px left -450px, bottom -600px right -450px;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: top -600px left -250px, bottom -600px right -300px;
  }
}/*# sourceMappingURL=styles.css.map */