// Colors
$dark_cyan: hsl(185, 75%, 39%);
$very_dark_desat_blue: hsl(229, 23%, 23%);
$dark_grayish_blue: hsl(227, 10%, 46%);
$dark_gray: hsl(0, 0%, 59%);
// Fonts
$kumbh: 'Kumbh Sans', sans-serif;

html {
  font-size: 16px;
}

p,
h1 {
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: $kumbh;
  color: $dark_grayish_blue;
  text-align: center;

  background-color: $dark_cyan;
  background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top -600px left -750px, bottom -600px right -750px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  margin: 24px;

  picture {
    display: flex;
    justify-content: center;
    width: 100%;

    #profile-picture {
      width: 96px;
      height: 96px;
      border-radius: 100%;
      border: 6px solid white;
      transform: translateY(-48px);
    }
  }

  picture:nth-child(2) {
    height: 60px;
  }

  section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1 {
      font-size: 20px;
      color: $very_dark_desat_blue;

      span {
        color: $dark_grayish_blue;
        font-weight: 400;
      }
    }

    hr {
      margin: 16px 0;
      z-index: 2;
      border-color: $dark_gray;
      opacity: 15%;
    }

    .stats-container {
      display: flex;
      justify-content: space-between;
      padding: 0 48px 32px 48px;

      .stats {
        display: flex;
        flex-direction: column;
        gap: 8px;

        p:nth-child(1) {
          font-size: 20px;
          font-weight: 700;
          color: $very_dark_desat_blue;
        }

        p:nth-child(2) {
          color: $dark_gray;
          font-size: 13px;
          letter-spacing: 1px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    background-position: top -600px left -450px, bottom -600px right -450px;
  }
}

@media (min-width: 1024px) {
  body {
    background-position: top -600px left -250px, bottom -600px right -300px;
  }
}